.hero {
  background-image:     
    url('../../images/rulers.svg'),
    linear-gradient(to top right, #0076A8, #00ADF6);
  color: white;
  padding: 5rem 0 8.5rem;
  border-radius: 0 0 50px 0;
  position: relative;
  width: 100%;
  background-position:    
    bottom -270px center,
    center center;
  background-repeat: 
    repeat-x,
    no-repeat;

  .container {
    position: relative;
    z-index: 20;
  }

  iframe {
    border: solid 5px white;
    border-radius: 4px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  }

  &__video-note {
    padding-top: 1rem;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
  }

  &__content {
    padding-right: 3rem;

    h1 {
      color: white;
    }

    p {
      font-size: $font-size-h4;
      padding-bottom: 2.5rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
