.clients {
  padding: 6rem 0 10rem;

  h2 {
    text-align: center;
    padding-bottom: 7rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__image {
    padding: 0 2rem;
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 180px;
    }
  }
}
